@import url('https://fonts.googleapis.com/css?family=Lato|Quicksand|Raleway|Roboto+Mono&display=swap');
/* font-family: 'Lato', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Quicksand', sans-serif; */

/* -- Header -- */
.hr-header {
    border:none;
    border-top:1px dotted #3d4677;
    color: transparent;
    background-color: transparent;
    height:0px;
    width:95%;
    padding: 0px auto 0px 5px;
    margin: 0px auto 0px auto;
    opacity: 0.5;
}

.menu-inline {
    display: inline;
    text-align: center;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;

}

body {
  overflow-x: hidden;
  background-color: #f7f7f7;
}
/* -- Hambuerger menu -- */


/* -- end of burgers -- */

.container-fluid {
    margin: 0px;
    padding: 0px;
}




.img-placeholder {
    max-width: 300px;
    position: fixed;
    bottom: 0;
    text-align: center;
}

.image-position {
    display: flex;
    justify-content: center;
    text-align: center;
    /*top: 50%;*/
    vertical-align: center;

    /*align-self: flex-start;*/
    /*text-align: center;
    vertical-align: middle;
    max-width: 90%;
    padding: 5px;
    margin-top: 5px;
    bottom: 0;
    border-radius: 8px; */
}

.img-size {
    max-width: 90%;
    padding: 5px;
    margin-top: 5px;
    bottom: 0;
    border-radius: 8px;
    vertical-align: center;
}

.img-placeholder-center {
    float: center;
    max-width: 30%;
    padding: 0px 5px 0px 5px;
    /*text-align: center;*/
    /*padding-bottom: 20px;*/
    /*border: none;*/
    position: fixed;
    bottom: 0;
    text-align: center;
}

.counter-text {
    text-align: center;
    vertical-align: middle;
    font-family: 'Quicksand', sans-serif;
}


.img-left {
    float: left;
}

.img-cntr {
    justify-content: center;

}

.img-right {
    float: right;
    /*position: fixed;*/

}


.img-placeholder-ktn {
    /*float: bottom;*/
    background-image: url("/assets/bg/ktnbg.png");
    max-width: 60%;
    /*height: auto;*/
    text-align: center;
    /*padding-bottom: 0px;*/
    /*border: 5px #3d4677 solid inside;*/
    /*position: fixed;*/
    /*bottom: 0;*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*display: block;*/
}


​#cont {
    width: 200px;
    height: 200px;
    border: 1px solid #aaa; /*To show the boundaries of the element*/
}
#cont:before {
    position: absolute;
    content: '';
    background: rgba(0,0,0, 0.5); /*partially transparent image*/
    width: 200px;
    height: 200px;
    pointer-events: none;
}

/* --- burger ---- */

body {
    padding-top: 70px;
}

.navbar-header {
    float: none;
}

.navbar-toggle {
    display: block;
}

.navbar-collapse.collapse {
    display: none !important;
}

.navbar-nav {
    float: none !important;
}

.navbar-nav>li {
    float: none;
}

.navbar-collapse.collapse.in {
    display: block !important;
}

.button-toggle {
    color:#3d4677;
    border: 1px solid #cccccc;
    border-radius: 2px;
    outline:none;
}

.button-toggle:hover {
    color:#4d4d4d;
    background-color: #dddddd;
}

.button:active {
    text-decoration: none;
    outline: none;
}

img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 2px;
    max-width: 90%;
    max-height: 90%;
}

.navbar-default {
    background-color: #f7f7f7;
    border-bottom: none;
}



.active {
    background-color: #000000;
}

.navbar-nav {
    text-align: right;
}

/* ---- burger end ------ */

/*html,
body {
   margin:0;
   padding:0;
   height:100%;
   width:100%;
}*/

#body {
   padding-bottom:25px;   /* Height of the footer */
   back
}

/* ---- modal ------ */

.modal a.close-modal[class*="icon-"] {
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  color: #fff;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
  background: #900;
  border: 2px solid #fff;
  -webkit-border-radius:  26px;
  -moz-border-radius:     26px;
  -o-border-radius:       26px;
  -ms-border-radius:      26px;
  -moz-box-shadow:    1px 1px 5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
  box-shadow:         1px 1px 5px rgba(0,0,0,0.5);
}




/* -------- Footer ----------------- */

.footer-dark {
    background-color: #f7f7f7;
    font-family: 'Raleway', sans-serif;
    color: #3d4677;
    margin: auto;
    position:fixed;
    bottom:0;
    width: 100%;
    height:20px;
}

.menu-inline {
    display: inline-block;
}