@import url('https://fonts.googleapis.com/css?family=Lato|Quicksand|Raleway|Roboto+Mono&display=swap');
/* font-family: 'Lato', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Quicksand', sans-serif; */

/* ---- navbar ----- */

.navbar {
    z-index: 1;
}

.navbar-light-bg {
    background-color: transparent;
}

.collapse-align-right {
    float:right;
}

.navbar-toggler-nofx:focus,.navbar-toggler-nofx:active {
    outline: none;
}

.navbar-toggler-nofx:hover {
    color: #ffad41;
    background-color: #c5c5c5;
}

.logo {
    background: url("https://artrage.github.io/randomio/assets/images/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 35px;
    display: inline-block;
    transition: all 3s ease-in-out;
    -moz-transition: all 3s ease-in-out;
    -webkit-transition: all 3s ease-in-out;
    -o-transition: all 3s ease-in-out;
}

.counterbg {
    background: url("https://artrage.github.io/randomio/assets/images/counterbg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    height: auto;
    width: 100%;
    border-radius: 10%;
    padding-left: 35px;
    font-weight: strong;

}

/* ------ end of navbar ---------- */

/* ------ body ------------------- */

.counter-text {
    text-align: center;
    vertical-align: middle;
    font-family: 'Quicksand', sans-serif;
}


.button-row {
    position: relative;
    padding: 5px;
}

.button-right {
    padding-right: 75px;
    text-align: right;
}

.button-right-center {
    padding-right: 15px;
    /*padding-top: 5px;*/
    text-align: right;
}

.button-left {
    padding-left: 5px;
    /*padding-top: 5px;*/
    text-align: left;
    max-width: 30%;
}

.button-center {
    text-align: center;
}

.button-toggle {
   /* color:#555555;*/
    color:#696969;
    border: 1px solid #ffad41;
    border-radius: 3px;
    outline:none;
    background: #e2e2e2;
    position: relative;
}



.button-toggle:focus {
    outline: none;
    text-decoration: none;
    color: #ffad41;
    background-color: #818181;
    border: 1px #5e5e5e solid;

}

.button-toggle:hover{
    color: #ffad41;
    background-color: #818181;
    border: 1px #5e5e5e solid;
}

/*.counter {
   font-family: 'Lato', sans-serif;
   background-color: #ffad41;
   border-radius: 3px;
   float: center;
   /*padding:50%;

} 

/*.counter-circle {
    width:50%;
    height:0;
    text-align:center;
    line-height:20px;
    padding:25% 0;
    border-radius:50%;
    background:#09f;
}*/

/*.counter-circle {
    display: block;
    font-family: 'Lato', sans-serif;
    /*background-color: #ffad41;*/
   /*border-radius: 3px;
    float: center;
    /*width:50%;
    height:50%;*/
    /*border-radius: 50%;*/
    /*font-size:15px;
    color:#fff;
    box-sizing: content-box;
    /*line-height:100px;
    text-align:center;
    /*background:#000;

} */

.counter-digit {
   font-family: 'Lato', sans-serif;
   background-color: #ffad41;
   border-radius: 50%;
   height: auto;
   /*width: 100%;
   height: auto;

   /*float: center;*/
   /*padding:5px;*/
   /*border-radius:2px;*/
   /*border:1px solid #e0e0e0;*/

}

/*.counter-digit:hover {
    background-color: #ff7300;
}*/

.counter-low {
    font-size: 15px;
    background-color: #f7d0ab;
    
}

.hpns-bg {
    background-color: transparent;
    border-radius: 2px;

}

/* ------- end of body ----------- */


/* ------- image ----------------- */

img {
    position: absolute;
    margin-top: 5px;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    width: 76%;
    max-width: 90%;
    max-height: auto;
    /*text-align: left;*/
    /*float: left;*/
    background-color: #f7f7f7;
    z-index: -10;
    image-rendering: -webkit-optimize-contrast;
}

@media screen and (max-height: 375px) {
    img {
         height: auto;
         max-width: 33%;
    }
}

@media screen and (max-height: 800px) {
    img {
         max-height: 55%;
         width: auto;
    }
}

@media screen and (max-height: 900px) {
    img {
         max-height: 65%;
         width: auto;
    }
}

@media screen and (max-height: 1080px) {
    img {
         max-height: 77%;
         width: auto;
    }
}

@media screen and (max-height: 1280px) {
    img {
         max-height: 80%;
         width: auto;
    }
}


/* ------- modal ----------------- */

.modal-index {
    z-index: 1000;
}

.myModal {
    z-index: 99999;
}

.modal-background {
    background-color: rgba(0, 0, 0, .9)
}

.modal-title {
    font-family:  'Quicksand', sans-serif;
    color: #ffad41;
    font-weight: strong;
}

.modal-text {
    font-family: 'Quicksand', sans-serif;
}

.modal-text:focus,.modal-text:active {
    text-decoration: none;
    outline: none;
}

.modal-text-left {
    text-align: left;
}

/* ------- footer ---------------- */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(221, 221, 221);
  color: rgb(112, 112, 112);
  text-align: center;
  
} 

.rndmbutton {
    border-radius: 3px;
    background-color: #ffad41;
    color: #1f1f1f;
    margin: 5px;
    text-decoration: none;
    border: solid 1px #5e5e5e;
    
}

.rndmbutton:active, .rndmbutton:hover, .rndmbutton:focus  {
    color: #ffad41;
}

.orange-icon {
    margin: 10px 0 0 0;
    color:#696969;
    font-size: 1.05em;
}

.list-inline-item a i:hover {
    color: #fc9804;
    text-decoration: none;
    transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
}

.list-inline-contact-item a i:hover {
    padding: 2px;
    color: #08002e;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

/*.slide { 
    border:1px solid black;
    height:125px;    
    left: 0px;
    right:0px;
    bottom: 25px;
    display: none;    
    position: absolute;
}

.footer {
       position:absolute;
       bottom: 0px;
       height:25px;
       width: 100%;       
       left: 0px;       
       right: 0px;
       border:1px solid black;
       display: inline-block;       
       cursor:pointer;
       background:#FFE4E1;       
    } */